.main{
    display: flex;
    background-color:black;
    color: white;
    padding-left: 1150px;
height: 20px;
padding-top: 60px;

}
.main1{
  
   background-color: green;
   height: 150px;
    color: white;

}
big{
     position: relative;
            top:-60px;
}
.main3{
    background-color: white;
}
p{
    color:black;
   font-size: 5pc; 
   text-align: center;
  
   

}
.small{

   
   font-size: 1pc; 
   text-align: center;
  
   

}

.d{
    display: flex;
   width:2000px;
   
}
h1{
    color: black;
    text-align: center;
   
}
.sa{
    color: black;
    display: flex;
    background-color: whitesmoke;
    
}
.s{
            display: flex;
            color: black;
        }
     img{
        border: 5px solid;
        border-color: black;
       
     } 
     .main10{
        background-color: tomato;
     } 