.main{
    display: flex;
    background-color:black;
    color: white;
    padding-left: 900px;
height: 50px;
padding-top: 60px;
font-size: xx-large;
}

big{
    position: relative;
    top: -60px;
    
}
.main1{
    background-color:green;
    color: white;
}
.main3{
    background-color: aqua;
}
h2{
    text-align: center;
    font-size:2pc;
    background-color: aliceblue;
    color: black;
}
p{

 background-color: yellow; 
 width: 70px;  
  padding-bottom: 20px;
}
.main5{
    display: flex;
    padding-bottom: 200px;
}
b{
    position: relative;
    top: -60px;
    
}
h3{
    padding-bottom: 100px;
}

.sa{
    display:flex;
}
.s{
            display: flex;
            color: black;
        }
       video:hover{
            transform: scale(1.2);
            transition: 2s;
        }
        img:hover{
            transform: scale(1);
            transition: 2s;
        }
        